numpy==2.4.3
pandas==3.0.2
pyarrow==23.0.1
requests==2.33.1
scikit-learn==1.8.0
scipy==1.17.1
streamlit==1.56.0
sympy==1.14.0
torch==2.4.1
torch-directml==0.2.5.dev240914
torchaudio==2.4.1
torchvision==0.19.1
